- FlickRaw.api_key='xxx'
- FlickRaw.shared_secret='xxx'

- start = Time.now()

-# description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags,
-# machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url, url_z, url_l, url_o
- list = flickr.interestingness.getList(:extras => 'url_sq,description,owner', :per_page => 50)
- list.each do |l|
  %a(href='http://www.flickr.com/photos/#{l.owner}/#{l.id}/lightbox/' title='#{l.title}')
    %img(src='#{l.url_sq}' width='75' height='75')

%p This application is an exploration of the Flickr API. Images shown selected from the
%a(href='http://www.flickr.com/explore/interesting/')
  Flickr Interesting
section. All images copyright of their respective copyright owners.
- finish = Time.now()
- elapsed = finish - start
%p Report generated in #{elapsed} seconds.
